<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style/home.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythmus</title>
</head>
<body>
    <div class="topButtons">
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('signup')}}">Sign Up</a>
        <a href="{{url_for('usermanual')}}">User Manual</a>
    </div>
    <br/>
    <div class="content">
        <h1>Rhythmus</h1>
        <p>
            Welcome to Rhythmus, the future of piano music. Our unique approach to music creation combines the power of artificial intelligence with the soulful sounds of the piano. With Rhythmus, you'll discover a new world of possibilities in music creation that's unlike anything you've experienced before.
        </p>
        <p>
            Our team of expert musicians and AI specialists have collaborated to bring you the best of both worlds. Our AI technology is constantly learning and evolving, allowing us to create truly unique and original pieces that are sure to captivate your ears and your heart.
        </p>
        <p>
            At Rhythmus, we believe that music is a universal language that can connect people from all walks of life. That's why we're committed to bringing you the highest quality music that's accessible to everyone. Whether you're a seasoned pianist or a music lover looking for something new, Rhythmus has something for you.
        </p>
        <p>
            So take a moment to explore our site and discover the magic of Rhythmus. We're confident that our innovative approach to music creation will leave you inspired and delighted. Thank you for visiting and we hope you enjoy your musical journey with us!
        </p>
    </div>
</body>
</html>